/* src/components/Invoice.css

div {
    margin: 20px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  h1, h2 {
    color: #333;
  }
   */

   /* src/components/BillingStatement.css */

/* div {
    margin: 20px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  h1, h2 {
    color: #333;
  }
   */